* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: black;
    color: white;
}

/* Header */

header {
    background-color: aliceblue;
}

header h2 {
    color: purple;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 3.7rem;
    font-size: 5rem;
}

ul#header-ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 30px;
    margin-top: 0px;
}

ul li a {
    display: flex;
    font-size: 2.7rem;
    text-decoration: none;
    color: blue;
    margin-bottom: 2.4rem;
}

/* Header End */























h1, h2, h3 {
    font-size: 3rem;
    font-family: 'Titillium Web', sans-serif;
}

/* #GrandPapa {
    
} */

#TopPage {
    background-color: rgb(50, 100, 200);
}

.coulHtml {
    color: red;
}

.coulCss {
    color: blue;
}

.coulJs {
    color: yellow;
}

/* @media screen and (min-width: 1024px) {
    p.box{
        background-color: blue;
    }

    body {
        background-color: bisque;
    }
} */